/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
    min-inline-size: 375px;
    max-inline-size: 1440px;
    min-block-size: 100vh;
    background-image: var(--background-gradient);
    background-size: cover;
    font-family: var(--main-font);
    display: grid;
}

.header {
    width: 1440px;
    margin: 0 auto;
}

.logotip {
    height: 108px;
    font-family: var(--accent-font, sans-serif);
    font-weight: var(--main-font-weight);
    font-size: 65px;
    position: absolute;
}

.header-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 100px;
    width: 700px;
    height: 368px;
    background-color: var(--bg-color);
    border: 2px solid #000000;
    font-family: var(--accent-font);
    font-weight: 400;
    inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    margin-bottom: 200px;
}

.header-title {
    padding-top: 80px;
    font-size: 23px;
    text-transform: uppercase;
}

.card {
    width: 696px;
    height: auto;
    background-color: var(--bg-color);
    border: 2px solid #000000;
    font-size: var(--main-font);
    font-weight: var(--main-font-weight);
    line-height: 21px;
    align-items: center;
    display: grid;
}

.card-img {
    width: 100%;
    height: 696px;
    display: block;
    object-fit: cover;
    
}

.card-content {
    padding-top: 6px;
    padding-left: 5px;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font);
}

.card__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    margin-top: 29px;
    height: 38px;
    margin-bottom: 27px;
    background-color: transparent;
}

.card__icon-button:focus-visible {
    outline: none;
    border-color: var(--accent-color);
}

.card__icon-button:focus {
    outline: none;
}

.card__like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 38px;
    border: 2px solid var(--accent-color);
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.card__like-button:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 2px 2px 0px var(--accent-color);
}

.card__like-button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
}

.card__like-button:hover::before {
    transform: translateX(0);
}

.card__like-button span {
    color: var(--opposite-color);
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
}

.button-ok:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 2px 2px 0px var(--accent-color);
}

.button-like {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    gap: 8px;
}

.text {
    padding-left: 25px;
    padding-right: 25px;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: 18px;
    padding-top: 29px;
    line-height: 21px;
}

.content {
    display: grid;
    justify-content: center;
    gap: 49px;
}

.card-text {
    display: grid;
    gap: 2px;
}

.first-text {
    padding-top: 31px;
}

.filter-1-card {
    filter: sepia();
}

.filter-2-card {
    filter: grayscale();
}

.filter-3-card {
    filter: blur(0.09rem);
}

.filter-4-card {
    filter: invert();
}

.filter-5-card {
    filter: saturate(75%);
}

.filter-6-card {
    filter: hue-rotate(50deg);
}

.filter-7-card {
    filter: brightness(140%);
}

.filter-8-card {
    filter: brightness(120%) saturate(200%);
    box-shadow: 0px 4px #8bfafa;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper img {
    display: block;
    width: 100%;
}

.label {
    position: absolute;
    top: 25px;
    right: 18px;
    color: rgb(0, 0, 0, );
    font-weight: var(--main-font-weight);
    text-transform: uppercase;
    padding: 5px 10px;
    mix-blend-mode: hard-light;
    font-family: var(--accent-font);
    font-size: 18px;
    -webkit-text-stroke: 1px #fff;
    opacity: 0.5;
    filter: none;
}

@supports (text-stroke: 1px #fff) {
    label {
        text-stroke: 1px #fff;
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}

.button-safe-1 {
    line-height: 90%;
    width: 342px;
    height: 55px;
    margin-top: 27px;
    background-color: rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding-left: 18px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.button-safe-1::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.button-safe-1:hover::before {
    transform: translateX(0);
}

.button-safe-1 span {
    color: var(--opposite-color);
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
}

.button__text {
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
    font-size: 14px;
    padding-left: 14px;
    line-height: 90%;
}

.floppy-button-safe-1::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.floppy-button-safe-1:hover::before {
    transform: translateX(0);
}

.floppy-button-safe-1 {
    color: var(--opposite-color);
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
    width: 21px;
    height: 21px;
    overflow: hidden;
    fill: var(--accent-color)
}

.floppy-button-safe-2 {
    width: 39px;
    height: 39px;
    margin-right: 10px;
}

.dialog[open] {
    width: 353px;
    height: 191px;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 22px;
    padding-left: 24px;
    padding-top: 17px;
    padding-right: 35px;
}

.dialog-window {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 7px;
    text-transform: uppercase;
    line-height: 150%;
    align-items: center;
}

.button-ok {
    width: 293px;
    height: 38px;
    border: 2px solid #000000;
    font-family: var(--accent-font);
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
}

.button-ok::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.button-ok:hover::before {
    transform: translateX(0);
}

.button-ok span {
    color: var(--opposite-color);
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
}

.button__text-dialog {
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
    font-size: 14px;
}

.button {
    border: 2px solid var(--accent-color);
}

.button:focus {
    outline: none;
    transition: box-shadow 0.3s ease;
    box-shadow: 2px 2px 0px var(--accent-color);
}

@media (width <=375px) {
    .page {
        min-inline-size: 320px;
    }

    .card {
        width: 375px;
    }

    .floppy-button-safe-1 {
        position: relative;
        width: 29px;
        height: 29px;
    }

    .button {
        gap: 7px;
        height: 84px;
        width: 311px;
        display: flex;
        flex-direction: column;
        padding-top: 18px;
        margin-top: 42px;
    }

    .header-card {
        height: 325px;
    }

    .logotip {
        font-size: 49px;
        padding-top: 14px;
    }

    .header-title {
        font-size: 14px;
        padding-top: 68px;
    }

    .card-content {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 6px;
    }

    .card-img {
        height: 371px;
    }

    .button-like {
        gap: 0px;
    }

    .content {
        gap: 42px;
    }

    .text {
        padding-top: 28px;
    }

    .button__text {
        padding: 0;
    }

    .card__like-button {
        padding-right: 17px;
        margin-right: 5px;
    }
}

.emoji {
  text-align: center;
}